a {
    text-decoration: none;
}
p {
    text-indent: 2em;
    text-align: justify;
}
body {
  transition: all 0.3s ease;
}
.page-header,
nav {
  transition: all 0.3s ease;
}
code {
    color: var(--bs-body-color);
    font-size: 0.875em;
    transition: 0.3s ease;
}
[data-bs-theme=dark] code {
    color: var(--bs-body-color);
    background-color: var(--bs-dark-bg-subtle);
}