.btn-group .button {
  font-size:16px;
  background-color:white;
  border:2px solid DodgerBlue;
  padding:12px;
  cursor:pointer;
  text-align:center;
  float:left;
  transition-duration: 0.2s;
}

.button {
  font-size:16px;
  background-color:white;
  border:2px solid DodgerBlue;
  padding:12px;
  cursor:pointer;
  text-align:center;
  float:left;
  transition-duration: 0.2s;
}

.button-link {
  font-size:16px;
  background-color:white;
  border:2px solid DodgerBlue;
  padding:12px;
  border-radius:4px;
  cursor:pointer;
  text-align:center;
  float:left;
  transition-duration: 0.2s;
}

.btn-group, .button:hover{
  background-color: DodgerBlue;
  color: white;
}

.btn-group, .button-link:hover{
  background-color: DodgerBlue;
  color: white;
}

.btn-group, .button:not(:last-child) {
  border-right: none; /* 阻止双边框 */
}
