<script src="/breadcrumbs.js"></script>
<script src="/global.js"></script>
<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
</script>
{% if site.github.is_project_page %}
  <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
{% endif %}
<span class="site-footer-credits">此页面使用<a href="https://pages.github.com">GitHub Pages</a>生成。</span>
<span style="text-indent: 0;" class="badge bg-secondary">xiaocaozz.top [Version: {{ site.version }}] <a href="/roots/history" class="text-info">更新历史</a></span>
<script>
    var body = document.querySelector("body");
    body.style.display = "";
</script>