<nav class="navbar navbar-expand navbar-dark" style="background-image: linear-gradient(60deg, #155799, #159957);">
  <div class="container d-flex align-items-center">
    <a class="navbar-brand" href="/">笑草班</a>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" href="/roots/overview">内容总览</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/其他/个人空间">个人空间</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="d-flex my-2 align-items-center" id="breadcrumbs"></div>
</div>
